name: Packer Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build_and_test:
    if: github.repository_owner == 'HaochengXuOrg'
    name: Build and Test
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: 2001050926
          MYSQL_DATABASE: health_check_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: maven
          cache-dependency-path: ./health-check/pom.xml

      - name: Build and Run Success Test
        working-directory: ./health-check
        run: |
          mvn clean test

      - name: Build artifact
        run: |
          mvn -f ./health-check clean package
          # You might have a .jar or .war in ./health-check/target

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: healthcheck-artifact
          path: |
            ./health-check/target/*.jar


  packer_aws:
    if: github.repository_owner == 'HaochengXuOrg'
    name: Build Packer Image (AWS & GCP)
    runs-on: ubuntu-latest
    needs: build_and_test
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: healthcheck-artifact
          path: ./build-artifact

      - name: Rename artifact for Packer
        run: |
          mv ./build-artifact/*.jar ./build-artifact/health-check.jar

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true


      - name: Install packer
        uses: hashicorp/setup-packer@main
        id: setup
        with:
          version: "1.12.0"

      - name: Step 5 - Run `packer init`
        id: init
        run: |
          packer init ./packer-template.pkr.hcl

      - name: Validate AWS Packer template
        id: validate
        run: |
          packer validate --var-file=packer-template.pkrvars.hcl ./packer-template.pkr.hcl

      - name: Build AWS Image
        run: |
          packer build --var-file=packer-template.pkrvars.hcl ./packer-template.pkr.hcl